<section id="splash-blue">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h1 class="white-text main-title">Solutions-Based Philosophy</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 center-align">
      <img id="cleanwater" src="./pics/coresources05.jpg"/>
    </div>
  </div>
</section>

<section id="use-cases">
  <h4 class="center-align">Why do we care so much about "doing energy differently"?</h4>
  <div class="container">
    <div class="row">
      <div class="col m6 s12">
        <br>
        <p>We believe North America CAN be energy self sufficient and that the production of hydrocarbons will continue to be the major source of that energy for the foreseeable future.</p>
        <br>
        <p>BUT we must be progressive -- FORWARD THINKING -- in how we produce hydrocarbons. Wastewater management and reuse will become one of the biggest issues affecting the oil and gas industry in the years to come.</p>

      </div>
      <div class="col m6 s12">
        <img class="full-width" src="./pics/summer-rocks-trees-river.jpg"/>
      </div>
    </div>

    <div class="row">
      <div class="col m6 s12">
        <img class="full-width" src="./pics/mixed-duck-flock-1665353_1280.jpg"/>
      </div>
      <div class="col m6 s12">
        <p>The communities where we work are demanding it. Governments are mandating it. Why shut in production when a cost effective, operationally efficient and environmentally responsible SOLUTION exists...</p>
        <p>At CoResource Solutions, we have the SOLUTION for your company's wastewater management needs. Whether it be clean fresh water for reuse and/or surface discharge or high quality "kill fluid" and frac quality brine...</p>
        <p>CoResource Solutions can help your company turn oilfield waste into our MOST PRECIOUS RESOURCE... water</p>
      </div>

    </div>

  </div>

</section>
