<section id="topContainer">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h1 class="black-text main-title">We'd Love to Hear from You</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <h3>Drop us a line:</h3>

      </div>

    </div>
  <form class="col s12">
     <div class="row">
       <div class="input-field col s6">
         <i class="material-icons prefix">account_circle</i>
         <input id="first-name" type="text" class="validate">
         <label for="first_name">First Name</label>
       </div>
       <div class="input-field col s6">
         <input id="last_name" type="text" class="validate">
         <label for="last_name">Last Name</label>
       </div>
    </div>
     <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">email</i>
         <input id="email" type="email" class="validate">
         <label for="email">Email</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">mode_edit</i>
         <textarea id="textarea1" class="materialize-textarea"></textarea>
         <label for="textarea1">Message</label>
       </div>
    </div>
    <a class="waves-effect waves-light btn">Submit</a>
  </form>
</section>

<section id="bottomContainer">
  <div class="row">
    <div class="col s6">

    <iframe id="googleMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3366.7120304253094!2d-99.76651568482613!3d32.45364198107088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86568e5e5a6ce77d%3A0xbc024400904086f6!2s310+N+Willis+St%2C+Abilene%2C+TX+79603!5e0!3m2!1sen!2sus!4v1476667172856" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
    <div id="contactAddress" class="col s3">
      <h5><i class="material-icons prefix">location_on</i>  Address:</h5>
      <p>CoResources Solutions<br>310 N. Willis St., Ste. 108<br>Abilene, TX 79603</p>
      <br>
      <br>
      <h5><i class="material-icons prefix">phone</i>  Phone:</h5>
      <p>(325) 218-4141</p>
      <br>
      <br>
      <h5><i class="material-icons prefix">chat</i>  Social:</h5>
      <a href="https://www.facebook.com/SBOXSolutions/?ref=page_internal" target="_blank"><i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-instagram fa-2x fa-fw" aria-hidden="true"></i></a>
      <a href="#"><i href="#" class="fa fa-twitter fa-2x fa-fw" aria-hidden="true"></i></a>
      <a href="#"><i href="#" class="fa fa-google-plus fa-2x fa-fw" aria-hidden="true"></i></a>
    </div>
  </div>
</section>
