<!-- Top parallax photo -->
<div class="parallax-container">
  <div class="parallax"><img src="./pics/oil-rig-101275_1920.jpg"></div>
    <div>
      <h1 id="picturetitle" class="white-text">CoResource Solutions</h1>
    </div>
</div>

<!-- Text section -->
<div id="textsection" class="section white">
  <div class="row container">
    <h3>Turning oilfield waste into our most precious resource.</h3>
    <p class="grey-text text-darken-3 lighten-3 flow-text">CoResource Solutions' groundbreaking proprietary process transforms produced oilfield wastewater into usable, fresh water and/or high quality industrial brine. This innovation improves the oil extraction process, reducing wastewater and associated transportion, and enhancing formation water for reinjection.</p>
    <h5 class="grey-text text-darken-3 lighten-3">Reduced costs. Enhanced stewardship. CoResource Solutions.</h5>
  </div>
</div>

<!-- Bottom parallax photo and cards-->
<div class="parallax-container">
  <div class="parallax"><img src="./pics/pexels-photo-10547.jpeg"></div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue darken-2">
        <div class="card-content white-text">
          <span class="card-title">We've Gone Public!</span>
          <p>It is truly an exciting time in our history as a company. We are proud of our team, our partners and everyone who continues to believe in revolutionizing the extraction industry. (Ticker OTC:HTOO) </p>
        </div>
        <div class="card-action">
          <a href="http://www.marketwatch.com/investing/stock/htoo" target="_blank">LIVE STOCK QUOTE</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card blue darken-2">
        <div class="card-content white-text">
          <span class="card-title">Increased Revenue</span>
          <p>Eliminate water haul-away and disposal costs. SIGNIFICANT cost-savings measured against drilling disposal well. Repurpose CoResource-processed water in drilling operation. Increase land value due to steady supply of water.</p>
        </div>
        <div class="card-action">
          <a ui-sref="solutions">LEARN HOW</a>
        </div>
      </div>
    </div>
  </div>

</div>
